services:
  pg:
    image: postgres:17
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: root 
      POSTGRES_PASSWORD: root
      POSTGRES_DB: test
    restart: always
    volumes:
       - ./service2/shema.sql:/docker-entrypoint-initdb.d/shema.sql # Load initial schema & seed
  
  redis:
    image: redis:alpine3.22
    ports:
      - "6379:6379"
    restart: always

  service1:
    build: ./service1
    ports:
      - "3001:3000"
    depends_on:
      - redis
    restart: always

  service2:
    build: ./service2
    ports:
      - "3002:3000"
    depends_on:
      - pg
    restart: always