services:
  redis:
    image: redis:alpine3.22
    ports:
      - "6379:6379"
    restart: always
  service1:
    build: ./service1
    ports:
      - "3000:3000"
    depends_on:
      - redis
    restart: always